<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    
    <h2>Dashboard</h2>

    <!-- Display user data (for debugging) -->
    <div style="display: flex;">
        <p><strong>Welcome</strong> {{ user_data.username }}</p>
        <p><a href="{{ url_for('recommendation_input') }}">Get recommendation</a></p>
        <form action="{{ url_for('logout') }}" method="get">
            <button type="submit">Logout</button>
        </form>
        
    </div>

    <!-- Display books from dashboard data -->
    <h3>Books:</h3>
    <ul>
        {% for book in dashboard_data %}
            <li>
                <img src="{{ book['Image-URL-M'] }}" alt="Book Image" style="width: 100px; height: auto;">
                {{ book['Book-Title'] }}
            </li>
        {% endfor %}
    </ul>

    
    <form action="{{ url_for('logout') }}" method="post">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
