<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommendations</title>
</head>
<body>
    <h2>Book Recommendations</h2>
    {% if zipped_data %}
        <ul>
            {% for book, image_url in zipped_data %}
                <li>
                    <img src="{{ image_url }}" alt="Book Image">
                    <h3>{{ book }}</h3>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ message }}</p>
    {% endif %}
    
</body>
</html>
