<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation Input</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h2>Enter Book Name</h2>
    <form action="/recommendation" method="POST">
        <label for="book_name">Book Name:</label><br>
        <input type="text" id="book_name" name="book_name" required><br><br>
        <div id="suggestions"></div> <!-- Suggestions will be displayed here -->
        <input type="submit" value="Get Recommendations">
    </form>

    <script>
    $(document).ready(function() {
        $('#book_name').on('input', function() {
            var input = $(this).val();
            if (input.length > 0) {
                $.ajax({
                    type: 'GET',
                    url: '/get_suggestions/' + input,
                    success: function(response) {
                        $('#suggestions').html(response);
                    }
                });
            } else {
                $('#suggestions').html('');
            }
        });

        // Handle click event on suggestions list
        $('#suggestions').on('click', 'li', function() {
            var suggestion = $(this).text();
            $('#book_name').val(suggestion);
            $('#suggestions').html('');
        });
    });
    </script>
</body>
</html>
